header {
    position: fixed;
    z-index: 999;
    padding: 20px;
    width: 100%;
    transition: .3s;
    top: 0;
    @media (max-width: 990px) {
        background: #fff;
        transition: .3s;
        padding: 15px 0;
    }
    nav {
        @media (max-width: 990px) {
            display: none;
            position: absolute;
            background: #fff;
            top: 50px;
            left: 0;
            width: 100%;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
            @media (max-width: 990px) {
                flex-direction: column;
                align-items: flex-start;
                margin: 0;
            }
            li {
                @media (max-width: 990px) {
                    margin: 10px 20px;
                }
                a {
                    transition: .3s;
                    color: #fff;
                    padding: 15px 20px;
                    font: 400 1rem 'Lato', sans-serif;
                    &:hover {
                        color: #dcb260;
                    }
                    @media (max-width: 990px) {
                        color: #000;
                        padding: 0;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
}

.logo-white {
    @media (max-width: 990px) {
        display: none;
    }
}

.logo-dark {
    display: none;
    height: 40px;
    @media (max-width: 990px) {
        display: block;
        height: 30px;
    }
}

.fixed-header {
    background: #fff;
    transition: .3s;
    padding: 15px 20px;
    @media (max-width: 990px) {
        padding: 15px 0;
    }
    .logo-dark {
        display: block;
    }
    .logo-white {
        display: none;
    }
    nav {
        ul {
            li {
                a {
                    color: #000;
                }
            }
        }
    }
}

.menu-btn {
    display: none;
    height: 30px;
    @media (max-width: 990px) {
        display: block;
    }
}

.other-header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    nav {
        ul {
            li {
                a {
                    color: #000;
                }
            }
        }
    }
    .logo-white {
        display: none;
    }
    
    .logo-dark {
        display: block;
        height: 40px;
        @media (max-width: 990px) {
            display: block;
            height: 30px;
        }
    }    
}