.bredcrumbs-bg {
    background: url(../img/bredcrumbs/bredcrumbs-bg.png) no-repeat center center;
    background-size: cover;
    height: 250px;
    margin-top: 80px;
    @media (max-width: 990px) {
        margin-top: 60px;
        height: 150px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .bredcrumbs-title {
        font: 700 3rem 'Lato', sans-serif;
        color: #fff;
        @media (max-width: 990px) {
            font-size: 2rem;
        }
    }
}

.bredcrumbs {
    background-color: #484135;
    .bredcrumbs-container {
        padding: 20px 0;
        @media (max-width: 990px) {
            padding: 15px 0;
        }
    }
    span {
        color: #fff;
        font: bold .87rem 'Lato', sans-serif;
        &::after {
            content: '/';
            padding-left: 10px;
            position: relative;
            left: -5px;
        }
    }
    span:last-child {
        color: #dcb260;
        &::after {
            display: none;
        }
    }
}