.who-about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

.who-about {
    .text-simple {
        margin: 0;
    }
}

.who-box-info {
    .title-sm {
        margin-bottom: 20px;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

.who-punkt-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding-top: 60px;
    @media (max-width: 990px) {
        padding: 0;
        grid-template-columns: 1fr;
    }
    .punkt-title {
        color: #333;
        margin-bottom: 10px;
        font: 900 1.125rem 'Lato', sans-serif;
    }
}

.company-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 60px;
    padding-top: 60px;
    position: relative;
    border-top: 1px solid #ccc;
    @media (max-width: 990px) {
        padding: 0;
        margin-top: 30px;
        border: none;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    &::before {
        content: '';
        height: 4px;
        width: 400px;
        background: #dcb260;
        position: absolute;
        left: 33%;
        top: -4px;
        z-index: 99;
        @media (max-width: 990px) {
            display: none;
        }
    }
    .company-box:last-child {
        padding-top: 58px;
        @media (max-width: 990px) {
            padding: 0;
        }
    }
}

.who-num-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 60px;
    padding-top: 60px;
    position: relative;
    border-top: 1px solid #ccc;
    @media (max-width: 990px) {
        border: none;
        margin-top: 30px;
        padding: 0;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

.who-num-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .num {
        margin-bottom: 10px;
        color: #333;
        font: 900 3rem 'Lato', sans-serif;
        @media (max-width: 990px) {
            font-style: 2rem;
        }
    }
    .num-title {
        margin-bottom: 10px;
        color: #333;
        font: bold 1.2rem 'Lato', sans-serif;
        @media (max-width: 990px) {
            font-style: 1.125rem;
        }
    }
    .num-text {
        font: 400 .95rem 'Lato', sans-serif;
    }
}

.team-info {
    margin-top: 60px;
    padding-top: 60px;
    position: relative;
    border-top: 1px solid #ccc;
    margin-bottom: 30px;
    @media (max-width: 990px) {
        padding: 0;
        margin-top: 30px;
        border: none;
    }
    &::before {
        content: '';
        height: 4px;
        width: 400px;
        background: #dcb260;
        position: absolute;
        left: 33%;
        top: -4px;
        z-index: 99;
        @media (max-width: 990px) {
            display: none;
        }
    }
    .title-sm {
        margin-bottom: 20px;
    }
}

.team-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    .team-name {
        font: bold 1.5rem 'Lato', sans-serif;
        color: #333;
        margin-bottom: 15px;
        @media (max-width: 990px) {
            font-style: 1.2rem;
        }
    }
    .team-prof {
        color: #dcb260;
        margin-bottom: 20px;
    }
    .team-social-box {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 30px;
            margin: 0 10px;
            transition: .3s;
            &:hover {
                transform: scale(1.25);
            }
        }
    }
}